@import '../../styles/variables';
@import '../../styles/components';
.footer {
    background-color: $color-secondary;
    color: $color-text;
    padding: 2rem;
    text-align: center;
  
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      gap: 1.5rem;
  
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
    }
  
    &__section {
      flex: 1;
      min-width: 200px;
  
      h4 {
        color: $color-background;
        margin-bottom: 1rem;
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin-bottom: 0.5rem;
          color: $color-text;
        }
      }
    }
  
    &__branding {
      text-align: center;
  
      .footer__logo {
        max-width: 150px;
        margin-bottom: 1rem;
      }
    }
  
    &__socials {
      .footer__icons {
        display: flex;
        gap: 1rem;
        justify-content: center;
  
        a {
          font-size: 1.5rem;
          color: $color-text;
          text-decoration: none;
          
  
          &:hover {
            color: $color-background;
            text-decoration: underline; 
          }
        }
      }
    }

    .creative-commons{
        display:inline-block;
        height:22px!important;
        margin-left:3px;
        vertical-align:text-bottom;

    }

    .creative-commons-img{
      height:22px!important;
      margin-left:3px;
      vertical-align:text-bottom;
    }

  }
  